.footer {
    background-color: #222;
    color: #eee;
    padding: 20px 0;
    margin-top: 50px;
}

.footer-container {
    text-align: center;
    font-size: 14px;
}
/* Header */
.header {
    background-color: #f5f5f5;
    padding: 25px 0;
    border-bottom: 2px solid #ddd;
    margin-bottom: 40px;
}

.header-container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.header-title {
    font-size: 26px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.header-subtitle {
    color: #666;
    margin: 0;
    font-size: 16px;
}
/* NAVBAR */
.menu {
    background-color: #222;
    color: #fff;
    padding: 12px 0;
}

.menu-container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-logo {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

/* Menu links */
.menu-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

.menu-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.menu-links li a:hover {
    color: #4da3ff;
}

/* Mobile Menu Button */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 26px;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
    
    .menu-links {
        display: none;
        flex-direction: column;
        background-color: #222;
        width: 100%;
        padding: 15px 0;
        margin-top: 12px;
        border-top: 1px solid #444;
        text-align: center;
    }

    .menu-links li {
        margin: 10px 0;
    }

    .menu-links.show {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}
